<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Barnardo's Charity Shop</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: rgb(199, 142, 254);
        }
        p {
            color: rgb(11, 70, 49);
        }
    </style>
</head>
<body>
    <h1>About Barnardo's Charity Shop</h1>
    <p>When life gets tough or it feels like there's nowhere to turn, Barnardo's is here.</p> 
    <p>We make sure children, young people feel safer, happier, healthier and more hopeful.</p>
    <p>by running over 800 specialist services across the UK, and campaigning to change the way the system works for the better.</p>
    <p>Remeber, every purchase matters!</p>
</body>
</html>
