{{>header}}
<body>
    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col-md-6">
                <div class="image-wrapper">
                    <img src="public/images/Barnardos-shop-opening.jpg" class="img-fluid" alt="Image" width='550' height='350'>
                </div>
            </div>
            <!-- Text -->
            <div class="col-md-6">
                <div class="text-wrapper">
                        <h1>About Barnardo's Charity Shop</h1>
                        <p>When life gets tough or it feels like there's nowhere to turn, Barnardo's is here.</p> 
                        <p>We make sure children, young people feel safer, happier, healthier and more hopeful.</p>
                        <p>by running over 800 specialist services across the UK, and campaigning to change the way the system works for the better.</p>
                        <p>Remeber, every purchase matters!</p>
                     </div>
                 </div>
            </div>
         </div>
    <br>
    <br>
</body>
</html>
