<html>
<head>
{{>header}}
<script src="https://kit.fontawesome.com/98d1622aa9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/styles.css">
<style>
body {
  background-color: white;
  color: rgb(12,72,64);
}
.page-footer {
  background-color: rgb(199, 142, 254);
  color: white;
}
</style>
</head>
<body>
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5 d-flex justify-content-center">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/barnardos">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://x.com/barnardos">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://uk.linkedin.com/company/barnardo%27s">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/barnardos_uk">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2024 Copyright:
    <a href="/"> barnardos.org.uk</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>
